* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 620px;
}

div {
  margin-bottom: 25px;
  padding: 10px 25px 10px 25px;

  background-color: #dff0d8;
}

.center-column {
  width: 25%;
  min-height: 100px;
  float: left;

  background-color: #fcf8e3;
}

.right-column {
  width: 25%;
  min-height: 100px;

  background-color: #d9edf7;
  
  float: right;
}

.left-column {
   width: 25%;
  min-height: 100px;

  background-color: #d9edf7;
  
  float: left;
}


.bottom-column {
clear: both;
background-color: blue;
}

.left-bottom {
width: 65%;
float: left;
background-color: red;
}

.right-bottom {

float: left;
background-color: green;
}


.footer {
clear: both;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}