@import "hm.css";
@import "footer.css";



/*Сетка*/
.wrapper {
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 100px auto 100px 40px;
}

.wrapper1 ,
.wrapper2 ,
.wrapper3 ,
.wrapper4,
.wrapper5,
.wrapper6,
.wrapper7 {
	margin: 3px;
	border-radius: 6px;
	border: 2px solid;
  border-color: #A9A9A9 ;
}


.wrapper1 {
	background-color: green;
	grid-column-start:1;
    grid-column-end:4;
    display: grid;
    justify-content: center;
 }
.wrapper2 { background-color: red; }
.wrapper3 {
	background-color: blue;
	grid-column-start:2;
	grid-column-end:4;
}
.wrapper4 { background-color: yellow; }
.wrapper5 { background-color:Lime; }
.wrapper6 { background-color: brown;
	display: grid;
    justify-content: center;
    align-items: center;
}
/*Сетка*/

/*===========================*/
/*Кнопка заказа звонка*/
#call {
  width: 120;
  height: 30;
  border: 2px solid;
  border-color: #A9A9A9 ;
  border-radius: 6px;
  background: #87CEEB;
  /*background-image: url("../img/favicon.ico");
  background-repeat: no-repeat;*/
  }
/*Кнопка заказа звонка активна*/
  #call:hover {
  	background: #FFFACD;
  	background-image: url("../img/favicon.ico");
  	background-repeat: no-repeat;
  }
/*Кнопка заказа звонка нажата*/
  #call:active{
  	background: Gainsboro;
  	background-image: url("../img/favicon.ico");
  	background-repeat: no-repeat;
  }
/*Кнопка заказа звонка*/